.container_carousel {
    position: relative;
    width: 320px;
    margin: 10px auto 0 auto;
    perspective: 1000px;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}
.carousel__face {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    /*box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);*/
    display: flex;
}
.container_carousel_2 {
    position: relative;
    width: 320px;
    margin: 10px auto 0 auto;
    perspective: 1000px;
}

.carousel_2 {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}
.carousel__face_2 {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    /*box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);*/
    display: flex;
}
span {
    margin: auto;
    font-size: 2rem;
}


.carousel__face:nth-child(1) {
    background-image: url("./Photos/20210721_121545.jpg");
    transform: rotateY(  0deg) translateZ(430px); }
.carousel__face:nth-child(2) {
    background-image: url("./Photos/20210721_191401.jpg");
    transform: rotateY( 40deg) translateZ(430px); }
.carousel__face:nth-child(3) {
    background-image: url("./Photos/20210721_191828.jpg");
    transform: rotateY( 80deg) translateZ(430px); }
.carousel__face:nth-child(4) {
    background-image: url("./Photos/20210721_191927.jpg");
    transform: rotateY( 1200deg) translateZ(430px); }
.carousel__face:nth-child(5) {
    background-image: url("./Photos/IMG_4656.jpeg");
    transform: rotateY( 160deg) translateZ(430px); }
.carousel__face:nth-child(6) {
    background-image: url("./Photos/IMG_4784.jpeg");
    transform: rotateY( 200deg) translateZ(430px); }
.carousel__face:nth-child(7) {
    background-image: url("./Photos/IMG_4809.jpeg");
    transform: rotateY( 2400deg) translateZ(430px); }
.carousel__face:nth-child(8) {
    background-image: url("./Photos/IMG_7002.JPG");
    transform: rotateY( 280deg) translateZ(430px); }
.carousel__face:nth-child(9) {
    background-image: url("./Photos/IMG_9227.JPG");
    transform: rotateY( 320deg) translateZ(430px); }


.carousel__face_2:nth-child(1) {
    background-image: url("./Photos/IMG_9331.JPG");
    transform: rotateY( 0deg) translateZ(430px); }
.carousel__face_2:nth-child(2) {
    background-image: url("./Photos/IMG_9623.JPG");
    transform: rotateY( 40deg) translateZ(430px); }
.carousel__face_2:nth-child(3) {
    background-image: url("./Photos/IMG_9706.JPG");
    transform: rotateY( 80deg) translateZ(430px); }
.carousel__face_2:nth-child(4) {
    background-image: url("./Photos/IMG_9717.JPG");
    transform: rotateY( 120deg) translateZ(430px); }
.carousel__face_2:nth-child(5) {
    background-image: url("./Photos/IMG_9793.JPG");
    transform: rotateY( 160deg) translateZ(430px); }
.carousel__face_2:nth-child(6) {
    background-image: url("./Photos/IMG_9799.JPG");
    transform: rotateY( 200deg) translateZ(430px); }
.carousel__face_2:nth-child(7) {
    background-image: url("./Photos/IMG_9804.JPG");
    transform: rotateY( 240deg) translateZ(430px); }
.carousel__face_2:nth-child(8) {
    background-image: url("./Photos/IMG_9963.JPG");
    transform: rotateY( 280deg) translateZ(430px); }
.carousel__face_2:nth-child(9) {
    background-image: url("./Photos/LesAresVerts2_imagebf_image1_IMG_7178_vignette_400_400_20220621113730_20220621113730.JPG");
    transform: rotateY( 320deg) translateZ(430px); }



@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}