/* Slider */
.slick-slide {
    margin: 0px 20px;

    height: 50px;
    /*// for absorbing width from @Ken Wheeler answer*/
    box-sizing: border-box;
}

.customer-logos {
    overflow: inherit;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
}

.slick-slide img {
    height: 50px;
}

.slick-track::before,
.slick-track::after {
    display: table;
    content: '';
}

.slick-track::after {
    clear: both;
}

.slick-track {
    padding: 1rem 0;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true) center no-repeat;
    color: #fff;
    filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%);
    border: none;
    width: 2rem;
    height: 1.5rem;
    text-indent: -10000px;
    margin-top: -16px;
    z-index: 99;
}

.slick-arrow.slick-next {
    right: -40px;
    transform: rotate(180deg);
}

.slick-arrow.slick-prev {
    left: -40px;
}

/* Media Queries */

@media (max-width: 768px) {
    .slick-arrow {
        width: 1rem;
        height: 1rem;
    }
}
/*
body {
    background-color: #010101;
}
*/
.row {
    overflow: hidden;
}

/* JsFiddle Example only/don't use */
.customer-logos {
    margin-top: 32px;
}